width:10%;/*セルの幅*/
height:5%;/*セルの高さ*/
background:#455A64;/*背景色*/
}
.i{
background-color:#00BCD4;
}
.o{
background-color:#FFEB3B;
}
.t{
background-color:#9C27B0;
}
.s{
background-color:#4CAF50;
}
.z{
background-color:#F44336;
}
.j{
background-color:#2196F3;
}
.l{
background-color:#EF9800;
}